/* 文字 */
h1{
    font-size: 5rem;
    color: White  !important;
    letter-spacing: 5px !important;
    line-height: 150% !important;
    font-weight: bold !important;
    margin-bottom: 0rem;
    display: inline-block;
    position: relative;
}
.dots{
    -webkit-text-emphasis: filled;
  text-emphasis: filled;
}
h2{
    color: white ;
    letter-spacing: 5px;
    line-height: 150%;
    font-weight: bold;
    margin-bottom: 1.3rem;
}
h3{
    color: white ;
    letter-spacing: 2px;
    line-height: 150%;
    font-weight:bold;
    margin-bottom: 3rem;
}

h4{
    letter-spacing: 2px;
    line-height: 150%;
    font-weight:bold;
}
h5{
    letter-spacing: 0px;
    line-height: 150%;
    font-weight:bold;
    margin-bottom: 0;
}
p{
    color: #fff;
    letter-spacing: 1px;
    line-height: 200%;
    font-size: 15px;
    font-weight: bold;
}
a{
    font-size: 1.5rem !important;
    font-weight: bold !important;
}

/* その他文字 */
.text-main{
    color: #00659D;
}
.text-sub{
    color: #FFFF00;
}
.text-flow{
font-size: 3rem;
}


.btn{
    background: linear-gradient(0deg, #F98F2C 24%,#FD4F04 100% );
    color: white;
    letter-spacing: 5px;
    border-radius: 50px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1rem 5rem 1rem 5rem;
    filter: drop-shadow(0px 0px 5px #ccc);
    white-space: nowrap;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    position: relative;
      -webkit-transition: all .3s;
  transition: all .3s;
}
.btn:hover {
    color: white !important;
    transform: scale(1.1,1.1);
}
.btn span{
    position: absolute;
    right: 5%;
}

.bg-mv .btn{
    font-size: 1rem !important;
    letter-spacing: 3px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 1rem 3rem 1rem 2rem;
}

/* 画像 */
img {
    height:auto;
    width: 100% !important;
}

.img-step{
    width: 100px !important;
}

.cover{
    object-fit: cover;
}
.aspect{
    aspect-ratio: 4 / 3;
}

/* レイアウト */
section{
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}
.row{
    width: 100%;
    margin: 0;
}
.mw{
    padding-left: 5%;
    padding-right: 5%;
    max-width: 1500px;
    margin: auto;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 背景 */
.bg-main{
    background: linear-gradient(170deg, #035A89 0%,#2589B5 34%,#76B6CB 74%,#B4CDD2 87%,#F3E5DA 100% );
}
.bg-sub{
    background: #00659D;
}
.bg-point{
    background: #FFFF00;
}
.bg-plus{
    background: #F5F7F7;
}
.bg-foot{
    background: #202623;
}
.bg-img{
    background: url(../img/bg1.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
}
.bg-mv{
    background: url(../img/mv.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
}
/* 装飾 */
.d-shadow{
    filter: drop-shadow(0px 0px 5px #ccc);
}
.line{
    height: 1px;
}
.circle{
    font-size: 2rem;
}



/* 追加 */
.navbar-toggler{
    border:none;
}
.logo{
    top:50px;left: 20px;
}

/* レスポンシブ */
@media screen and (max-width: 767px){
    .bg-mv{
    background: url(../img/mv_sp.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    padding-bottom: 0 !important;
}
.bg-mv .btn{
    font-size: 0.9rem !important;
    letter-spacing: 3px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0.5rem 1rem 0.5rem 0.5rem !important;
}
}

@media screen and (max-width: 992px){
/* .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    padding: 0;
}
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
    padding: 0;
} */
h1{
    font-size: 3rem;
    letter-spacing: 0px !important;
}
h2{
    letter-spacing: 2px;
    margin-bottom: 1rem;
}
h3{
    font-size: 1rem;
    margin-bottom: 1rem;
}
h4{
    font-size: 0.9rem;
    margin-bottom: 1rem;
}
h5{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.btn{
    padding: 1rem 0 !important;
    width: 100%;
    margin: 0;
}
a{
    font-size: 1.3rem !important;
    font-weight: bold !important;
}
.text-flow{
font-size: 1rem;
}
.text-label{
    font-size: 1.5rem !important;

}

.img-step{
    width: 30px !important;
    padding: 0;
}

.box-form{
    height: 50px;
}

.circle{
    font-size: 1rem;
}


.bg-img {
    background: url(../img/bg1.png);
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
}

.logo{
    top:20px;
    left: 0px;
    padding: 0;
}

}

